<ion-menu side="start" contentId="content">
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="content" color="dark">
    <ion-list>
      <ion-grid>
        <ion-row *ngFor="let button of buttons" class="menu-row">
          <ion-button 
          (click)="onClickedButton(button.action)"
          class="menu-button clickable ion-activatable {{button.color}}"
          expand="block"><ion-icon name={{button.icon}} class="menu-icon"></ion-icon><span class="menu-span">{{ button.name }}</span></ion-button>
        </ion-row>
      </ion-grid>
    </ion-list>
  </ion-content>
</ion-menu>
