span{
    margin-right: auto;
    align-self: auto;
    padding-left: 8px;

}
.menu-row{
    padding-top: 0%;
    padding-bottom: 0%;
}

.menu-button {
    width: 100%;
    height: 36px;
}



.clickable {
    pointer-events: auto !important;
}

.menu-label{
    margin-right: auto;
}

.menu-icon{
    align-self: auto;

}

.toolbar{
    --background: #3f4041;
    --color: white;
}

ion-row {
    background-color: #222428;
    color: #fff;
  }

ion-list{
    background-color: #222428;
}

.b01 {
    --background: #634def;
};
.b02 {
    --background: #5260ff;
};
.b03 {
    --background: #3880ff;;
};
.b04{
    --background: #20b8bd;
}
.b05{
    --background: #2dd36f;
}
.b06{
    --background: #ffc409;
}
.b07{
    --background: #eb445a;
}


