<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Nuevo Usuario</ion-title>
    <ion-buttons slot="end">
      <ion-button color=success (click)="onRegister()" [class.button-disabled]="userForm.invalid">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button color=primary [routerLink]="['/']">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="onRegister()">
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>
    <app-error-message *ngIf="userForm.controls.email.errors?.required" [template]="'Required'"></app-error-message>
    <app-error-message *ngIf="userForm.controls.email.errors?.email" [template]="'Email'"></app-error-message>
    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <app-error-message *ngIf="userForm.controls.password.errors?.required" [template]="'Required'"></app-error-message>
    <app-error-message *ngIf="userForm.controls.password.errors?.minlength" [template]="'MinLength'"></app-error-message>
  </form>
</ion-content>