<ion-item class="item"  lines="none">
  <ion-label color=primary size="200">Cantidad: </ion-label>
  <ion-input placeholder="N/N" id={{inputId}} debounce="1000" (ionChange)="onChangedValue($event.detail.value)" type="number" min={{minValue}} max={{maxValue}} [(ngModel)]="quantity" size="200" inputmode="numeric" [readonly]="disabled"></ion-input>
</ion-item>
