span {
    margin-right: auto;
};

.b01 {
    height: 278px;
    width: 100%;
    min-width: 210px;
    padding-top: 0px;
    --background: #634def;
};
.b02 {
    height: 219px;
    width: 100%;
    min-width: 210px;

};
.b03 { 
    height: 194px;
    width: 100%;
    min-width: 260px;

};
.b04 {
    height: 164px;
    width: 100%;
    min-width: 260px;
    --background: #20b8bd;
};
.b05 {
    height: 135px;
    width: 100%;
    min-width: 260px;

};
.b06 {
    height: 76px;
    width: 100%;
    min-width: 360px;
    --padding-top: 0px;
};

.b07{
    --padding-right: 0px;
}

.title{
    padding-left: 4px;
};
.custom-button-content {
    display: flex;
    flex-direction: row;
    align-items: center;
};

.toolbar{
    --background: #3f4041;
    --color: white;
    padding-bottom: 0px;
    padding-right: 0px;
    --padding-end: 0px;
}

.col{
    height: 100%;
    --ion-grid-column-padding: 0px; 
    padding-right: 3px;
    padding-left: 3px;
    padding-top: 0px;
}


.grid-toolbar{
    padding-top: 0px;
    height: 525px;

}

.grid{
    height: 25px;
    padding-left: 3px;
    padding-right: 9px;
}
.row{
    padding-left: 3px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

