

<ion-content color="dark">
  <ion-toolbar class="toolbar">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title class="title">Menu</ion-title>
    <ion-button slot="end" (click)="onLogoutClicked()" color="danger" size="small" expand="full" class="b07">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>Logout
    </ion-button>
  </ion-toolbar>


  <ion-grid class="grid">
    <ion-row class="row">

    <ion-col class="col">
      
        <ion-button [routerLink]="['/reparaciones']" size="large" expand="block" class="b01">
          <div class=“custom-button-content”>
            <ion-icon name="build" size="large"></ion-icon>
            <ion-row><ion-label>Reparaciones</ion-label></ion-row>
          </div>
        </ion-button>


        <ion-button color=tertiary [routerLink]="['/clientes']" size="large" expand="block" class="b02">
          <div class=“custom-button-content”>
            <ion-icon name="people" size="large"></ion-icon>
            <ion-row><ion-label>Clientes</ion-label></ion-row>
          </div>
        </ion-button>
    </ion-col>


    <ion-col class="col" >

        <ion-button color=primary [routerLink]="['/productos']" size="large" expand="block" class="b03">
          <div class=“custom-button-content”>
            <ion-icon name="desktop-outline" size="large"></ion-icon>
            <ion-row><ion-label>Productos</ion-label></ion-row>
          </div>
        </ion-button>


        <ion-button [routerLink]="['/tipos-de-dispositivo']" size="large" expand="block" class="b04">
          <div class=“custom-button-content”>
            <ion-icon name="print" size="large"></ion-icon>
            <ion-row><ion-label>Tipos de Dispositivo</ion-label></ion-row>
          </div>
        </ion-button>


        <ion-button color=success [routerLink]="['/objetos-incluidos']" size="large" expand="block" class="b05">
          <div class=“custom-button-content”>
            <ion-icon name="battery-charging" size="large"></ion-icon>
            <ion-row><ion-label>Objetos Incluidos</ion-label></ion-row>
          </div>
        </ion-button>

    </ion-col></ion-row>

    <ion-row class="row">
      <ion-button (click)="onClickedCities()" color="warning" size="large" expand="block" class="b06">
        <ion-icon name="business-outline" slot="start"></ion-icon>Inicializar localidades
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
