<ion-toolbar color="dark">
  <ion-col *ngIf="isLoading" offset="6">
  <ion-spinner color="light" name="crescent"></ion-spinner>
  </ion-col>

  <div *ngIf="!isLoading">
    <div *ngIf="!isEmpty">
      <ion-list *ngIf="!loadingFailed" class="dark">
        <ng-content></ng-content>
      </ion-list>
      
      <div *ngIf="loadingFailed">
        <app-error-warning [template]="getListTemplate()"></app-error-warning>
      </div>
    </div>

    <ion-col offset="6" *ngIf="isEmpty">
      <ion-label>{{ emptyListMessage }}</ion-label>
    </ion-col>    
  </div>
</ion-toolbar>