/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.modal-align{
  align-items: center;
  justify-content: center;
}

.single-field-modal{
    --max-height: 17.5%;    
}

.deletion-modal{
    --max-height: 16.1%; 
}

.media-file-modal{
    --min-width: 70%
    --min-height: 70%
    --max-width: 80%
    --max-height: 80%
}

@media(max-width: 450px){

	.deletion-modal{
    	    --max-height: 18.5%; 
	}
	.media-file-modal{
    		--min-width: 70%
    		--min-height: 70%
    	    --max-width: 90%
    	    --max-height: 90%
	}
}