<ion-toolbar color="dark">
  <ion-title>{{ pageName }}</ion-title>
  <ion-buttons slot="end">
    <ion-button color=success (click)="onClickedReturn()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <ion-content class="toolbar">
    <app-display-field-mediafile [retrieveFileHandler]="getFileHandler(entity.id)" [base64Image]="entity?.base64Data"></app-display-field-mediafile>
  </ion-content>
</ion-content>

