<ion-card>
  <ion-card-title>
    <ion-row>
      <ion-toolbar class="toolbar">
        <div #content><ng-content></ng-content></div>
        <ion-col *ngIf="!content.children.length"><ion-label color=primary class="label-left">{{ getFieldName(0) }} </ion-label>{{ getEntityValue(0) }}</ion-col> 
        <ion-buttons slot="end">
          <ion-button color=warning (click)="onClickedEdit()" *ngIf="canEdit" ><ion-icon name="pencil"></ion-icon></ion-button>
          <ion-button color=danger (click)="onClickedDelete()" *ngIf="canDelete"><ion-icon name="trash"></ion-icon></ion-button>
          <ion-button color=secondary (click)="onClickedDetails()" *ngIf="canSeeDetails"><ion-icon name="eye"></ion-icon></ion-button>
          <ion-button color=secondary (click)="onClickedView()" *ngIf="canView"><ion-icon name="eye"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-row>
    <ion-toolbar *ngFor="let index of indexes" color="dark">
      <ion-col>
        <ion-label color=primary class="label-left">{{ getFieldName(index) }} </ion-label><ion-label class="label-right">{{ getEntityValue(index) }}</ion-label>
      </ion-col>
      <ion-col *ngIf="((index + 1) < this.displayFields.length)" slot="secondary">
        <ion-label color=primary>{{ getFieldName(index + 1) }} </ion-label><ion-label class="label-right">{{ getEntityValue(index + 1) }}</ion-label> 
      </ion-col>
    </ion-toolbar>
  </ion-card-title>
</ion-card>