<ion-toolbar color="dark">
  <ion-title>{{ dialogData.header }}</ion-title>
</ion-toolbar>

<ion-content *ngIf="isLoading()" class="contents">
  <ion-row>
    <ion-col offset="6">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content *ngIf="!isLoading()" class="contents">
  <ion-row>
    <ion-label class="description">{{ dialogData.message }} {{ getDescription() }}</ion-label>
  </ion-row>

  <ion-row>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="end">
        <ion-button (click)="onClickedNo()"><ion-icon name="close"></ion-icon>No</ion-button>
        <ion-button color="primary" (click)="onClickedYes()" [class.button-disabled]="isLoading()"><ion-icon name="checkmark"></ion-icon>Sí</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-row>
</ion-content>