.description{
    font-size: large;
    padding-left: 3%;
    padding-right: 3%;
    align-self: center;
    padding-top: 1%;
}

.toolbar{
    --background: #222437;
    color: #fff;
}

.contents {
    --background: #222437;
    --color: #fff;
    
    --padding-end: 10px;
    --padding-start: 26px;
    --padding-top: 10px;
}