 <ion-header>
  <div [hidden]="!canEdit()">
    <ion-card>
      <ion-card-title>
        <ion-toolbar class="toolbar">
          
          <ion-row *ngIf="dropdown">
            <ion-col class="second-col">
              <ion-button class="button" (click)="onClickedTakePhoto()"><ion-icon name="camera-outline" size="large" color=primary></ion-icon></ion-button>
            </ion-col>
            <ion-col class="second-col">
              <ion-button class="button" (click)="onClickedUploadPhoto()"><ion-icon name="arrow-up-outline" size="large" color=primary></ion-icon></ion-button>
            </ion-col>
            <ion-col>
                <div *ngIf="showPreview()" class="custom-content">
                  <img [src]="this.file.base64Data" width={{this.previewWidth}} height={{this.previewHeight}}/>
                </div>
                <ion-item class="custom-item">
                <ion-input placeholder="Nombre" class="custom" [maxlength]="50" type="text"  [(ngModel)]="this.fileName"></ion-input></ion-item>
                <app-error-message *ngIf="fileName.length == 0 && file" [template]="'FileName'"></app-error-message>
            </ion-col>
            <ion-col class="second-col">
              <ion-button class="button" (click)="onClickedAddPhoto()" [class.button-disabled]="!canUpload()"><ion-icon name="add-outline" color=primary></ion-icon></ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="custom-content">
            <div *ngIf="!dropdown" >
              <ion-button class="button-caret" (click)="dropdown = true"><ion-icon name="caret-down-outline" color=medium></ion-icon></ion-button>
            </div>
            <div *ngIf="dropdown">
              <ion-button class="button-caret" (click)="dropdown = false"><ion-icon name="caret-up-outline" color=medium></ion-icon></ion-button>
            </div>
          </ion-row>
        </ion-toolbar>
        
      </ion-card-title>
    </ion-card>
  </div>
</ion-header>

<ion-content color="dark">
  <app-list
  [template]="'MediaFile'"
  [isLoading]="isLoading()"
  [isEmpty]="isEmpty()">
    <app-list-card *ngFor="let mediaFile of this.editRepairTabsService?.tabrepair.mediaFiles"
    [template]="'MediaFile'"
    [entity]="mediaFile"
    [deletionHandler]="getDeletionHandler()"
    [viewHandler]="viewHandler">
    </app-list-card>
  </app-list>
</ion-content>

<ion-footer>
  
</ion-footer>