.toolbar{
    --background: #3f4041 !important;
}

.second-col{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    max-width: 50px;
}

.p-col{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.button{
    --padding-start: 0%;
    --padding-end: 0%;
    --background: #3f4041;
    width: 59px;
    --box-shadow: 0 0px 0px 0 rgb(0, 0, 0, 0.25);
}

.button-caret{
    --padding-start: 0%;
    --padding-end: 0%;
    --padding-top: 0%;
    --padding-botton: 0%;
    --background: #3f4041;
    width: 60px;
    height: 20px;
    --box-shadow: 0 0px 0px 0 rgb(0, 0, 0, 0.25);
}

.custom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
};

.custom-item{
    max-height: 36px;
    --background: #3f4041 !important;
}

ion-input.custom{
    --background: #eee;
    --color: #111;
    --placeholder-color: #222;
    width: 80%;
    --placeholder-opacity: .8;
    --padding-start: 5px;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --height: 36px;
}
