<ion-header>
  <ion-toolbar color="dark">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{pageName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color=success [routerLink]="['/reparaciones']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
      <ion-button color=primary [routerLink]="['/']"><ion-icon name="home"></ion-icon></ion-button>
      <ion-button color=primary (click)="this.updateRepair()" [class.button-disabled]="editRepairTabsService.isLoading() || editRepairTabsService.form.invalid" *ngIf=!isDetails()><ion-icon name="save-outline"></ion-icon></ion-button>
      <ion-button color="danger" (click)="onLogoutClicked()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>



  
  <ion-content color="dark" >
  
  <ion-tabs color="dark" class="segment-card">
    
    <ion-tab-bar slot="bottom" color="dark">
      <ion-tab-button tab="general-information" (click)="pageName='Información General'" class="segment-item">
        <ion-icon name="information-sharp"></ion-icon>
        <ion-label class="ion-hide-md-down">Información General</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="products-used" (click)="pageName='Productos Utilizados'" class="segment-item">
        <ion-icon name="albums-sharp"></ion-icon>
        <ion-label class="ion-hide-md-down">Productos Utilizados</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="state-history" (click)="pageName='Historial de Estados'" class="segment-item">
        <ion-icon name="bookmarks-sharp"></ion-icon>
        <ion-label class="ion-hide-md-down">Historial de Estados</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="attached-files" (click)="pageName='Archivos Adjuntos'" class="segment-item">
        <ion-icon name="document-attach-sharp"></ion-icon>
        <ion-label class="ion-hide-md-down">Archivos Adjuntos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="included-objects" (click)="pageName='Objetos Incluidos'" class="segment-item">
        <ion-icon name="cube-sharp"></ion-icon>
        <ion-label class="ion-hide-md-down">Objetos Incluidos</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
</ion-content>

