ion-tab-bar {
    left: 0;
    position: initial;
    overflow-x: hidden;
    overflow-y: hidden;


    .segment-item {
        text-overflow: fade(100%) !important;
        white-space: nowrap;
        min-width: 50px !important;
        width: auto !important;
        padding-left: 0%;
        min-height: 60px;
    }
  }