<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
    <ion-buttons slot="end">
      <ion-button color=primary [routerLink]="['/registrarse']">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button color=primary (click)="onLogin()" [class.button-disabled]="userForm.invalid">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email" formControlName="email" required></ion-input>
    </ion-item>
    <app-error-message *ngIf="userForm.controls.email.errors?.required" [template]="'Required'"></app-error-message>
    <app-error-message *ngIf="userForm.controls.email.errors?.email" [template]="'Email'"></app-error-message>
    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <app-error-message *ngIf="userForm.controls.password.errors?.required" [template]="'Required'"></app-error-message>
    <app-error-message *ngIf="userForm.controls.password.errors?.minlength" [template]="'MinLength'"></app-error-message>
  </form>

  <ion-button (click)="onLoginWithGoogle()" color="primary" size="small" expand="full">
    <ion-icon name="logo-google"></ion-icon> Ingresar con Google
  </ion-button>
</ion-content>