

.item{
    padding-top: 0.5%;
    padding-left: 0%;
    --inner-padding-start: 0px;
    --inner-padding-end: 0px;
    --inner-padding-top: 0px;
    --inner-padding-bottom: 0px;
    --min-height: 39px;
    --background: #ccc;
}

.input {
    --background: #f0f0f0;
    --color: #0f0f0f;

    --placeholder-color: #222;
    
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 10px;
    --padding-top: 10px;
}

.ion-select-option{
    --background: #f0f0f0;
    --placeholder-color: #971e49;
    position: relative !important;
    margin: 0 auto !important;
    left: auto !important;
    top: auto !important;
}

.ion-select{
    --background: #f0f0f0;
    --placeholder-color: #971e49;
}

ion-select {
    --placeholder-color: #971e49;
    --placeholder-opacity: 1;
    --background: #f0f0f0;
  }

  .my-custom-class .popover-content {
    top: 0px !important;
}