<ion-item >
  <ion-select  id='entityselect' selectedText=' ' (ionChange)="onChangedSelect($event)" [disabled]="this.inputsDisabled || this.entities.length == 0 || this.selectedEntity" [(ngModel)]="initialEntity" class="ion-select" interface="popover" id={{selectId}} mode="md">
    <ion-select-option *ngFor="let entity of entities" [value]=entity class="ion-select-option"> {{getDisplayValues(entity)}} </ion-select-option>
  </ion-select>
  <div style="width: 0px; height: 39px;" (click)="onClick($event)" id="div"></div>
  <ion-input
  *ngFor="let displayField of displayFields; let i = index"
  placeholder={{displayField.displayName}}
  id="i"
  (ionChange)="onChangedText($event,i)"
  [ngModel]="entitiesText[i]"
  [disabled]="inputsDisabled || selectedEntity"
  debounce="1000"
  maxlength=200 class="input">
  </ion-input>
  <ion-button (click)="onClickedRemove()" fill="clear" *ngIf="selectedEntity && !inputsDisabled" shape="round" color="dark"><ion-icon name="close-outline"></ion-icon></ion-button>
  <ion-spinner name="crescent" *ngIf="isLoading()"></ion-spinner>
</ion-item>
<ion-label class="empty-list" *ngIf="isEmpty()">No se han encontrado resultados.</ion-label>
