<ion-toolbar color="dark">
  <ion-menu-button slot="start"></ion-menu-button>
  <ion-title>{{ pageName }}</ion-title>
  <ion-buttons slot="end">
    <ion-button color=success [routerLink]="['/clientes']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-button color=primary [routerLink]="['/']"><ion-icon name="home"></ion-icon></ion-button>
    <ion-button color=primary (click)="onClickedAccept()" id="accept" [class.button-disabled]="isLoading() || form.invalid" *ngIf="!isDetails()"><ion-icon name="save-outline"></ion-icon></ion-button>
    <ion-button color="danger" (click)="onLogoutClicked()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content *ngIf="isLoading()" color="dark">
  <ion-row>
    <ion-col offset="6">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content *ngIf="!isLoading()" color="dark">
  <ion-content *ngIf="!notFound()" color="dark">
    <form [formGroup]="form" class="form-group">
      <div class="field-label">
        <ion-label position="floating" class="label">Nombre</ion-label>
        <ion-item class="item">
          <ion-input placeholder="Nombre" [disabled]="isDetails()" formControlName="name" maxlength=65000 required [(ngModel)]="client.name" class="input"></ion-input>
        </ion-item>
        <app-error-message *ngIf="form.controls.name.errors?.required" [template]="'Required'"></app-error-message>
      </div>
    
      <div class="field-label">
        <ion-label position="floating" class="label">Apellido</ion-label>
        <ion-item class="item">
          <ion-input placeholder="Apellido" [disabled]="isDetails()" formControlName="surname" maxlength=65000 required [(ngModel)]="client.surname" class="input"></ion-input>
        </ion-item>
        <app-error-message *ngIf="form.controls.surname.errors?.required" [template]="'Required'"></app-error-message>
      </div>
    
      <div class="field-label">
        <ion-label position="floating" class="label">Teléfono</ion-label>
        <ion-item class="item">
          <ion-input placeholder="Teléfono" [disabled]="isDetails()" formControlName="phoneNumber" maxlength=65000 [(ngModel)]="client.phoneNumber" class="input"></ion-input>
        </ion-item>
      </div>
    
      <div class="field-label">
        <ion-label class="label">Ciudad</ion-label>
        <app-search-selector name="city"
        [template]="'City'"
        [refreshHandler]="refreshHandler"
        [selectHandler]="selectHandler"
        [inputsDisabled]="isDetails()"
        [subscription]="initialSubscription"
        [selectedEntity]="client?.city"
        [selectId]="'city'"></app-search-selector>
        <app-error-message *ngIf="form.controls.cityId.errors?.required" [template]="'Required'"></app-error-message>
      </div>
    
      <div class="field-label">
        <ion-label position="floating" class="label">Dirección</ion-label>
        <ion-item class="item">
          <ion-input placeholder="Dirección" [disabled]="isDetails()" formControlName="address" maxlength=65000 [(ngModel)]="client.address" class="input"></ion-input>
        </ion-item>
      </div>
    
      <div class="field-label">
        <ion-label position="floating" class="label">Email</ion-label>
        <ion-item class="item">
          <ion-input placeholder="Email" [disabled]="isDetails()" formControlName="email" maxlength=65000 [(ngModel)]="client.email" class="input"></ion-input>
        </ion-item>
        <app-error-message *ngIf="form.controls.email.errors?.email" [template]="'Email'"></app-error-message>
      </div>
      
    </form>
  </ion-content>

  <ion-content *ngIf="notFound()" color="dark">
    <app-error-warning [template]="'Client'"></app-error-warning>
  </ion-content>
</ion-content>
