<ion-header>
  <div [hidden]="!canEdit()">
    <ion-card>
      <ion-card-title>
        
        <ion-row *ngIf="dropdown" >
          <ion-toolbar class="toolbar">
  
            <ion-label class="lb" color=primary>Añadir Producto: </ion-label>
  
            <app-search-selector name="newitem"
              [template]="'Product'"
              [refreshHandler]="refreshProductHandler"
              [selectHandler]="selectProductHandler"
              [selectedEntity]="selectProduct"
              [selectId]="'product'"></app-search-selector>  
            <ion-buttons slot="end">
              <ion-button color=primary (click)="onClickedAdd()" [class.button-disabled]="!(selectProductId && canAddSelectedItem())"><ion-icon name="add-outline"></ion-icon></ion-button>
            </ion-buttons>
            <ion-item class="custom-item">
              <ion-label color=dark>Precio Unitario: </ion-label>
              <ion-input value={{newPrice}} class="custom" type="number" id="Price" inputmode="numeric" debounce="1000" (ionChange)="onValueChanged($event.detail.value,'Price')" min={{minPrice}} max={{inputMaxValue}}></ion-input>
            </ion-item>
            <ion-item class="custom-item">
              <ion-label color=dark>Cantidad: </ion-label>
              <ion-input value={{newQuantity}} class="custom" type="number" id="Quantity" inputmode="numeric" debounce="1000" (ionChange)="onValueChanged($event.detail.value,'Quantity')" min={{minQuantity}} max={{inputMaxValue}}></ion-input>
            </ion-item>
            <app-error-message *ngIf="!canAddSelectedItem()" [template]="'RepairLine'"></app-error-message>
          </ion-toolbar>
        </ion-row>
        <ion-row class="custom-content">
          <div *ngIf="!dropdown" >
            <ion-button class="button-caret" (click)="dropdown = true"><ion-icon name="caret-down-outline" color=medium></ion-icon></ion-button>
          </div>
          <div *ngIf="dropdown">
            <ion-button class="button-caret" (click)="dropdown = false"><ion-icon name="caret-up-outline" color=medium></ion-icon></ion-button>
          </div>
        </ion-row>
      </ion-card-title>
    </ion-card>
  </div>
</ion-header>

<ion-content color="dark">
  <app-list
  [template]="'RepairLine'"
  [isLoading]="isLoading()"
  [isEmpty]="isEmpty()">
    <app-list-card *ngFor="let RepairLine of this.editRepairTabsService?.tabrepair.repairLines"
    [template]="'RepairLine'"
    [entity]="RepairLine"
    [deletionHandler]=getDeletionHandler()>
    <app-display-edit-field-quantity [repairLine]="RepairLine" [minValue]="minQuantity" [maxValue]="inputMaxValue" [disabled]="!canEdit()"></app-display-edit-field-quantity>
    </app-list-card>
  </app-list>
</ion-content>