<ion-content color="dark"> 
  <ion-toolbar color="dark">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Objetos Incluidos</ion-title>
    <ion-buttons slot="end">
      <ion-button color=primary (click)="onClickedRefresh()"><ion-icon name="refresh-outline"></ion-icon></ion-button>
      <ion-button color=success (click)="onClickedNew()"><ion-icon name="add"></ion-icon></ion-button>
      <ion-button color=primary [routerLink]="['/']"><ion-icon name="home"></ion-icon></ion-button>
      <ion-button color="danger" (click)="onLogoutClicked()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar (ionChange)="search( $event.detail.value , 0 )"></ion-searchbar>
  </ion-toolbar>
  <app-page-selector [refreshHandler]="refreshHandler" [listHeaders]="listHeaders" class="item"></app-page-selector>
  <app-list
  [template]="template"
  [isLoading]="isLoading()"
  [loadingFailed]="loadingFailed()"
  [isEmpty]="isEmpty()">
    <app-list-card *ngFor="let includedItem of data"
    [template]="template"
    [entity]="includedItem"
    [editionHandler]="editionHandler"
    [deletionHandler]="deletionHandler">
    </app-list-card>
  </app-list>
</ion-content> 
