<ion-grid>
  <ion-row>
    <ion-label><ion-icon name="warning-outline" color="warning" class="icon"></ion-icon></ion-label><ion-label color="medium" class="title">Error al obtener los datos.</ion-label>
  </ion-row>
  <ion-row>
    <ion-label class="description">{{ message }} Por favor, verifique los datos especificados y la conexión al servidor.</ion-label>
  </ion-row>
</ion-grid>
