<ion-toolbar color="dark">
  <ion-title>{{ pageName }}</ion-title>
  <ion-buttons slot="end">
    <ion-button color=success (click)="onClickedReturn()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-button color=primary (click)="onClickedAccept()" id="accept" [class.button-disabled]="isLoading() || form.invalid"><ion-icon name="save-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content *ngIf="isLoading()" class="toolbar">
  <ion-row>
    <ion-col offset="6">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content *ngIf="!isLoading()">
  <ion-content *ngIf="!notFound()" class="toolbar">
    <form [formGroup]="form" class="form-group">
      <div class="field-label">
        <ion-label position="floating" class="label" color="light">{{ fieldData.label }}</ion-label>
        <ion-item class="item">
          <ion-input placeholder={{fieldData.placeholder}} formControlName="field" maxlength=65000 required [(ngModel)]="entity[fieldData.fieldName]" class="input"></ion-input>
        </ion-item>
        <app-error-message *ngIf="form.controls.field.errors?.required" [template]="'Required'"></app-error-message>
      </div>
    </form>
  </ion-content>

  <ion-content *ngIf="notFound()">
    <app-error-warning [template]="template"></app-error-warning>
  </ion-content>
</ion-content>
