.toolbar{
    --background: #3f4041 !important;
}

ion-select::part(text) {
    color: #fff;
  }
  
  ion-select::part(icon) {
    color: #fff;
    opacity: 1;
  }

  .label-left{
    padding-left: 10px;
    color: #eee;
}

.label-right{
    padding-right: 10px;
}

.blue-toolbar{
    --background: #222437;
    color: #fff;
}

.button-caret{
  --padding-start: 0%;
  --padding-end: 0%;
  --padding-top: 0%;
  --padding-botton: 0%;
  --background: #3f4041;
  width: 60px;
  height: 20px;
  --box-shadow: 0 0px 0px 0 rgb(0, 0, 0, 0.25);
}

.custom-content {
  background: #3f4041 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
};

.custom-item{
  padding-top: 0.5%;
  padding-left: 0%;
  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-top: 0px;
  --inner-padding-bottom: 0px;
  --min-height: 39px;
  --background: #222437;
}

.custom-input {
  --background: #222437;
  --color: #0f0f0f;

  --placeholder-color: #222;
  
  --padding-bottom: 10px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
}