<ion-header>

</ion-header>

<ion-content color="dark">

  <ion-card>
    <ion-card-title>
      

      <ion-toolbar class="blue-toolbar" *ngIf="canEdit()">
        <ion-item class="custom-item"> 
          <ion-label color=primary class="label-left">Estado Actual: </ion-label>
          <app-display-field-chip
          [state]="this.editRepairTabsService?.selectState"
          [template]="'RepairState'"
          [clickHandler]="clickHandler"
          [disabled]="true">
          </app-display-field-chip> 
          <ion-select selectedText=" " [disabled]="!canEdit()" interface="popover" [(ngModel)]="this.editRepairTabsService.selectState">
            <ion-select-option *ngFor="let state of availableStates" [value]=state> {{getRepairStateString(state)}} </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-toolbar>       
    </ion-card-title>
  </ion-card>

  <app-list
  [template]="'StateChange'"
  [isEmpty]="isEmpty()">
    <app-list-card *ngFor="let stateChange of editRepairTabsService?.tabrepair?.stateChanges" 
    [template]="'StateChange'"
    [entity]="stateChange">
    <app-display-field-chip
      [state]="stateChange.state"
      [template]="'RepairState'"
      [clickHandler]="clickHandler"
      [disabled]="!canEdit()">
    </app-display-field-chip>
    </app-list-card>
  </app-list>
</ion-content>

