<ion-header>
 
</ion-header>

<ion-content *ngIf="isLoading()" color="dark">
  <ion-row>
    <ion-col offset="6">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col offset="6">
      <ion-label>Cargando datos. Por favor espere</ion-label>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content *ngIf="!isLoading()" color="dark">
  <form [formGroup]="editRepairTabsService.form" class="form-group">
    <div class="field-label">
      <ion-label position="floating" class="label">Problema</ion-label>
      <ion-item class="item">
        <ion-textarea placeholder="Problema" [disabled]="!canEdit()" formControlName="problem" maxlength=65000 required [(ngModel)]="editRepairTabsService.tabrepair.problem" class="input" [autoGrow]="true"></ion-textarea>
      </ion-item>
      <app-error-message *ngIf="editRepairTabsService.form.controls.problem.errors?.required" [template]="'Required'"></app-error-message>
    </div>
  
    <div class="field-label">
      <ion-label position="floating" class="label">Solución</ion-label>
      <ion-item class="item">
        <ion-input placeholder="Solución" [disabled]="!canEdit()" formControlName="solution" maxlength=65000 required [(ngModel)]="editRepairTabsService.tabrepair.solution" class="input"></ion-input>
      </ion-item>
      <app-error-message *ngIf="editRepairTabsService.form.controls.solution.errors?.required" [template]="'Required'"></app-error-message>
    </div>

    <div class="field-label">
      <ion-label class="label">Cliente</ion-label>
      <app-search-selector name="client"
      [template]="'Client'"
      [refreshHandler]="refreshClientHandler"
      [selectHandler]="selectClientHandler"
      [subscription]="editRepairTabsService.getActiveSubscription('Client')"
      [selectedEntity]="this.editRepairTabsService?.tabrepair?.client"
      [selectId]="'client'"
      [inputsDisabled]="!canEdit()"></app-search-selector>
      <app-error-message *ngIf="editRepairTabsService.form.controls.clientId.errors?.required" [template]="'Required'"></app-error-message>
    </div>
  
    <div class="field-label">
      <ion-label position="floating" class="label">Contraseña</ion-label>
      <ion-item class="item">
        <ion-input placeholder="Contraseña" [disabled]="!canEdit()" formControlName="password" maxlength=65000 [(ngModel)]="editRepairTabsService.tabrepair.devicePassword" class="input"></ion-input>
      </ion-item>
    </div>
 
    <div class="field-label">
      <ion-label class="label">Tipo de equipo</ion-label>
      <app-search-selector name="deviceType"
      [template]="'DeviceType'"
      [refreshHandler]="refreshDeviceTypeHandler"
      [selectHandler]="selectDeviceTypeHandler"
      [subscription]="editRepairTabsService.getActiveSubscription('DeviceType')"
      [selectedEntity]="this.editRepairTabsService?.tabrepair?.deviceType"
      [selectId]="'deviceType'"
      [inputsDisabled]="!canEdit()"></app-search-selector>
      <app-error-message *ngIf="editRepairTabsService.form.controls.deviceType.errors?.required" [template]="'Required'"></app-error-message>
    </div>

    <div class="field-label">
      <ion-label position="floating" class="label">Precio mano de obra</ion-label>
      <ion-item class="item">
        <ion-input placeholder="Precio mano de obra" type="number" [disabled]="!canEdit()" formControlName="laborPrice" maxlength=65000 required [(ngModel)]="editRepairTabsService.tabrepair.laborPrice" id="laborPrice" inputmode="numeric" debounce="1000" (ionChange)="onLaborPriceChanged($event.detail.value)" min={{minLaborPrice}} max={{maxLaborPrice}}></ion-input>
      </ion-item>
    </div>

    

  </form>
  <div class="field-label">
    <ion-label position="floating" class="label">Precio total</ion-label>
    <ion-item class="item">
      <ion-label>{{getTotal()}}</ion-label>
    </ion-item>
  </div>
</ion-content>
