ion-input {
    max-width: 60px;
    --padding-end: 8px;
}

@media (max-width: 400px) {
    ion-input {
        max-width: 40px;
        --padding-end: 10px;
    }
}
.item{
    align-items: center !important;
    justify-content: center;

}

ion-item::part(native){
    background: #595959;
    color: #fff;
    align-items: center;
    justify-content: center;
    
}

ion-item::part(detail-icon) {
    color: white;
    opacity: 1;
    font-size: 20px;
    align-self: center;
  }

ion-toolbar{
    --align-content: center;
}

.row{
    background: #595959;

    --align-content: center;
}

.center{
    display:flex;
    justify-content: center;
}