<ion-row class="row">
    <ion-col class="center">
        <ion-item lines="none" class="item">
            <ion-button [class.button-disabled]="!listHeaders?.HasPrevious"
                (click)="onChangedPage(listHeaders?.CurrentPage - 1)" size="small"><ion-icon
                    name="chevron-back-outline"></ion-icon></ion-button>
            <ion-item (click)="onChangedPage(1)" *ngIf="isFirstPageLabelShown" lines="none"><ion-label
                    color="primary">{{ 1 }}</ion-label></ion-item>
            <ion-label *ngIf="isPreviousPagesLabelShown"> {{ previousPagesLabel }} </ion-label>
            <ion-input type="tel" debounce="1000" (ionChange)="onChangedPage($event.detail.value)" inputmode="numeric"
                (keypress)="validateChar($event)" value={{currentPage}} maxlength="9"
                class="ion-text-center"></ion-input>
            <ion-label *ngIf="isNextPagesLabelShown"> {{ nextPagesLabel }} </ion-label>
            <ion-item (click)="onChangedPage(listHeaders?.TotalPages)" *ngIf="isLastPageLabelShown"
                lines="none"><ion-label color="primary">{{ listHeaders?.TotalPages }}</ion-label></ion-item>
            <ion-button [class.button-disabled]="!listHeaders?.HasNext"
                (click)="onChangedPage(listHeaders?.CurrentPage + 1)" size="small"><ion-icon
                    name="chevron-forward-outline"></ion-icon></ion-button>
        </ion-item>
    </ion-col>
</ion-row>