<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)='onClickedVideo()'>Grabar video</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)='onClickedFoto()'>Sacar Foto</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]=foto></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
