<ion-content color="dark">
  <ion-toolbar color="dark">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Reparaciones</ion-title>
    <ion-buttons slot="end">
      <ion-button color=primary (click)="onClickedRefresh()"><ion-icon name="refresh-outline"></ion-icon></ion-button>
      <ion-button color=success [routerLink]="['./nueva']"><ion-icon name="add"></ion-icon></ion-button>
      <ion-button color=primary [routerLink]="['/']"><ion-icon name="home"></ion-icon></ion-button>
      <ion-button color="danger" (click)="onLogoutClicked()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-segment scrollable="true" (ionChange)="search($event.detail.value,0)" value={{filters[0]}}>
      <ion-segment-button *ngFor="let state of stateFilters" value={{state.field}}>
        <ion-label>{{ state.displayName }}</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-searchbar (ionChange)="search($event.detail.value, 1)" placeholder="Nombre"></ion-searchbar>
    <ion-searchbar (ionChange)="search($event.detail.value, 2)" placeholder="Apellido"></ion-searchbar>
  </ion-toolbar>

  <app-page-selector [refreshHandler]="refreshHandler" [listHeaders]="listHeaders"></app-page-selector>

  
  <app-list 
  [template]="template"
  [isLoading]="isLoading()"
  [loadingFailed]="loadingFailed()"
  [isEmpty]="isEmpty()">
    <app-list-card *ngFor="let repair of data"
    [template]="template"
    [entity]="repair"
    [editionHandler]="editionHandler"
    [detailsHandler]="detailsHandler">
      <app-display-field-chip
      [state]="repair.state"
      [template]="'RepairState'"
      [clickHandler]="clickHandler"
      [disabled]="false">
      </app-display-field-chip>
    </app-list-card>
  </app-list>
</ion-content>
