<ion-header>
  <div [hidden]="!canEdit()">
    <ion-card>
      <ion-card-title>
        
        <ion-row *ngIf="dropdown" >
          <ion-toolbar class="toolbar">
            <ion-label  class="lb" color=primary>Añadir Item: </ion-label>
  
              <app-search-selector name="newitem"
              [template]="'IncludedItem'"
              [refreshHandler]="refreshItemHandler"
              [selectHandler]="selectItemHandler"
              [selectedEntity]="newitem"
              [selectId]="'includedItem'"></app-search-selector>
              <app-error-message *ngIf="!canAddSelectedItem()" [template]="'IncludedItem'"></app-error-message>
  
            <ion-buttons slot="end">
              <ion-button color=primary (click)="onClickedAdd()" [class.button-disabled]="!(newitem && canAddSelectedItem())"><ion-icon name="add-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-row>
        <ion-row class="custom-content">
          <div *ngIf="!dropdown" >
            <ion-button class="button-caret" (click)="dropdown = true"><ion-icon name="caret-down-outline" color=medium></ion-icon></ion-button>
          </div>
          <div *ngIf="dropdown">
            <ion-button class="button-caret" (click)="dropdown = false"><ion-icon name="caret-up-outline" color=medium></ion-icon></ion-button>
          </div>
        </ion-row>
      </ion-card-title>
    </ion-card>
  </div>
</ion-header>

<ion-content color="dark">
  <app-list
  [template]="template"
  [isLoading]="isLoading()"
  [isEmpty]="isEmpty()">
    <app-list-card *ngFor="let includedItem of this.editRepairTabsService.tabrepair?.includedItems"
    [template]="'IncludedItem'"
    [entity]="includedItem"
    [deletionHandler]=getDeletionHandler()>
    </app-list-card>
  </app-list>
</ion-content>

<ion-footer>
  
</ion-footer>
