<ion-toolbar color="dark">
  <ion-menu-button slot="start"></ion-menu-button>
  <ion-title>Nueva Reparación</ion-title>
  <ion-buttons slot="end"> 
    <ion-button color=success [routerLink]="['/reparaciones']"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    <ion-button color=primary [routerLink]="['/']"><ion-icon name="home"></ion-icon></ion-button>
    <ion-button color=primary (click)="onClickedAccept()"><ion-icon name="save-outline" role=""></ion-icon></ion-button>
    <ion-button color="danger" (click)="onLogoutClicked()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-buttons>
</ion-toolbar>
<ion-toolbar color="dark">
  <ion-segment (ionChange)="onChangedSegment($event)" value={{selectedSegment}}>
    <ion-segment-button value=0>
      <ion-label>Datos generales</ion-label>
    </ion-segment-button>
    <ion-segment-button value=1>
      <ion-label>Objetos incluidos</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>

<ion-content *ngIf="isLoading()" color="dark">
  <ion-row>
    <ion-col offset="6">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-col>
  </ion-row>
</ion-content>

<ion-content *ngIf="!isLoading()" color="dark">
  <ion-content [hidden]="!isGeneralDataSelected()" color="dark">
    <form [formGroup]="form" class="form-group">
      <div class="field-label">
        <ion-label class="label">Tipo de equipo</ion-label>
        <app-search-selector name="deviceType"
        [template]="'DeviceType'"
        [refreshHandler]="refreshDeviceTypeHandler"
        [selectHandler]="selectDeviceTypeHandler"
        [selectId]="'deviceType'"></app-search-selector>
        <app-error-message *ngIf="form.controls.deviceTypeId.errors?.required" [template]="'Required'"></app-error-message>
      </div>

      <div class="field-label">
        <ion-label class="label">Cliente</ion-label>
        <app-search-selector name="client"
        [template]="'Client'"
        [refreshHandler]="refreshClientHandler"
        [selectHandler]="selectClientHandler"
        [selectId]="'client'"></app-search-selector>
        <app-error-message *ngIf="form.controls.clientId.errors?.required" [template]="'Required'"></app-error-message>
      </div>
      
      <div class="field-label">
        <ion-label position="floating" class="label">Fecha de ingreso</ion-label>
        <ion-item class="item">
          <ion-datetime displayFormat="YYYY-MM-DDTHH:mm:ssTZD" placeholder="Fecha de ingreso" (ionChange)="onChangedDate($event)" required></ion-datetime>
        </ion-item>
        <app-error-message *ngIf="form.controls.creationDate.errors?.required" [template]="'Required'"></app-error-message>
      </div>
    
      <div class="field-label">
        <ion-label position="floating" class="label">Contraseña</ion-label>
        <ion-item class="item">
          <ion-input placeholder="Contraseña" formControlName="password" maxlength=65000 [(ngModel)]="repair.devicePassword" class="input"></ion-input>
        </ion-item>
      </div>

      <div class="field-label">
        <ion-label position="floating" class="label">Problema</ion-label>
        <ion-item class="item">
          <ion-input placeholder="Problema" formControlName="problem" maxlength=65000 [(ngModel)]="repair.problem" class="input"></ion-input>
        </ion-item>
        <app-error-message *ngIf="form.controls.problem.errors?.required" [template]="'Required'"></app-error-message>
      </div>
    
    </form>
  </ion-content>

  <ion-content [hidden]="isGeneralDataSelected()" color="dark">
    <ion-list class="list-gds">
      <ion-item *ngFor="let item of includedItems" class="item-gds">
        <ion-label>{{item.name}}</ion-label>
        <ion-checkbox (ionChange)="onCheckedItem(item,$event)" [checked]="isSelected(item)"></ion-checkbox>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>

