.field-label {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    
}

.label {
    padding-left: 0.5%;
}

.input {
    --background: #f0f0f0;
    --color: #0f0f0f;

    --placeholder-color: #1f1f1f;
    
    --padding-bottom: 10px;
    --padding-end: 10px;
    --padding-start: 26px;
    --padding-top: 10px;
}

.item{
    padding-top: 0.5%;
    padding-left: 0%;
    --inner-padding-start: 10px;
    --inner-padding-end: 0px;
    --inner-padding-top: 0px;
    --inner-padding-bottom: 0px;
    --min-height: 39px;
    --background: #ccc;
}

.item-gds{
    --inner-padding-start: 10px;
    --inner-padding-end: 10px;
    --inner-padding-top: 0px;
    --inner-padding-bottom: 0px;
    height: 60px;
    color: #f0f0f0;
    --background: #222437;
    font-size: 19px;
}

.list-gds{
    padding-left: 10px;
    padding-right: 10px;
    background: #333333;
}

ion-datetime{
    min-width: 100%;

}