<ion-content *ngIf="isLoading()" class="custom-content">
    <ion-row>
      <ion-col offset="6">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
</ion-content>

<div *ngIf="!isLoading()" class="custom-content">
    <ion-label *ngIf="notFound()">No se ha podido obtener la imagen</ion-label>
    <div *ngIf="!notFound()" class="custom-content">
        <img [src]="file" style="width:95%"/>
    </div>
</div>
